@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_mixins";
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
button {
  letter-spacing: 0.7px;
}
.container .bg-dark {
  background-color: #ffffff;
}
